
<nav>
  <div class="nav-wrapper blue-grey darken-1">
    <a href="#" class="brand-logo center">Board Games</a>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Games', games_path %></li>
    </ul>
  </div>
</nav>  
